.service{
    background-color: azure;
    border: 2px solid black;
    border-radius: 5px;
}
.service img{
    width: 400px;
    height: 250px;
    border: 2px solid green;
    border-radius: 200px;
}
.services{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 100px 50px;
}